<ion-header>
    <ion-navbar color="primary">
        <ion-title>Map</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="map-page">
    <ion-list>
         <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <agm-map id="map" 
            [latitude]="map.lat" 
            [longitude]="map.lng" 
            [zoom]="map.zoom">
            
            <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
        </agm-map>
    </ion-list>
</ion-content>